* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.location-container {
    color      : white;
    font-size  : 30px;
    text-align : center;
    text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.location-container .date {
    color      : white;
    font-size  : 20px;
    text-align : center;
    text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container {
    text-align: center;
}

.weather-container .temperature {
    color           : white;
    position        : relative;
    display         : inline-block;
    margin          : 30px auto;
    padding         : 15px 25px;
    font-size       : 100px;
    font-weight     : 700;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius   : 16px;
    box-shadow      : 3px 3px rgba(58, 53, 53, 0.73);
    text-shadow     : 3px 3px rgba(58, 53, 53, 0.73);
}

.weather-container .weather {
    color      : white;
    font-size  : 50px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(58, 53, 53, 0.73);
}

.error-message {
    left       : 0;
    line-height: 200px;
    margin-top : -100px;
    position   : absolute;
    text-align : center !important;
    top        : 50%;
    width      : 100%;
}